<header class="header container" >
    <div class="main-header">
        <a class="logo" href="/">
            <img src="./images/mobile/logo.png" alt="">
        </a>
        <button type="button" class="header-mobile-menu" 
                    aria-controls="menu-container"
                    aria-expanded="false" data-menu-button>
                   <svg class="menu-button" width="40" height="24" aria-label="переключатель мобального меню">
                       <use class="icon-menu" href="./images/symbol-defs.svg#icon-burger" ></use>
                       <!-- <use class="icon-cross" href="./images/menuSprite.svg#icon-Close24" ></use> -->
                   </svg>
        </button>
                <div class="menu-container" data-menu id="menu-container">
                    <button type="button" class="header-mobile-menu menu-close"
                    aria-controls="main-nav"
                    aria-expanded="false" data-menu-button>
                   <svg class="menu-button" width="50" height="30" aria-label="переключатель мобального меню">
                       <!-- <use class="icon-menu" href="./images/menuSprite.svg#icon-Menu24" ></use> -->
                       <use class="icon-cross" href="./images/symbol-defs.svg#icon-cross" ></use>
                   </svg>
                </button>
                    <button type="button" class="button-buy">
                        Buy now
                        <svg class="header-button-icon" width="20" height="25" >
                        <use href="./images/symbol-defs.svg#icon-buttom" >    
                        </use>
                        </svg>
                    </button>

                    <ul class="navigacion">
                        <li class="item"><a class="link" href="">Home</a></li>
                        <li class="item"><a class="link" href="">About us</a></li>
                        <li class="item"><a class="link" href="">How it’s made?</a></li>
                        <li class="item"><a class="link" href="">Our products</a></li>
                        <li class="item"><a class="link" href="">Contact</a></li>
                    </ul>
               
                    
                </div>   
            </nav>
    </div>
</header>
