<footer class="footer">
    <div class="container">
    <div class="footer-main">
    <h2 class="footer-subtitle">homemade ice cream made</h2>
    <h1 class="footer-title">with passion</h1>
    <ul class="socialmedia">
        <li class="social">
        <a class="link-github" href="">
            <svg class="item-github" width="19" height="19">
            <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
        </a>
        </li>
        <li class="social">
        <a class="link-telegram" href="">
            <svg class="item-telegram" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
        </a>
        </li>
        <li class="social">
        <a class="link-facebook" href="">
            <svg class="item-facebook" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
        </a>
    </ul>
    <div class="footer-contacts">
    <span class="footer-invite">Feel free to contact</span>
    <a class="footer-tel" href="tel:+61 (0) 383 766 284">
    +61 (0) 383 766 284</a>
    </div>
    </div>
    <div class="copyright">
    <p class="copyright-text">&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
</div>
    </footer>