<section class="schedule">
  <h2 class="visually-hidden">Schedule</h2>
  <div class="schedule-wrapper container">
    <ul class="schedule-list">
      <li class="schedule item 1">
        <div class="schedule-text">
          <h4 class="selling-place">CAFE</h4>
          <p class="schedule-city">Chicago</p>
          <p class="schedule-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <p class="working-days">Monday – Friday</p>
          <p class="opening-hours padding">06:00 AM - 10:00 PM</p>
          <p class="working-days">Saturday – Sunday</p>
          <p class="opening-hours">08:00 AM - 16:00 PM</p>
          <ul class="contact-info">
            <li class="item">
              <a class="item" href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="item">
              <a class="item" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="schedule item">
        <div class="schedule-text">
          <h4 class="selling-place">FOODTRUCK</h4>
          <p class="schedule-city">Los Angeles</p>
          <p class="schedule-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <p class="working-days">Monday – Friday</p>
          <p class="opening-hours padding">06:00 AM - 10:00 PM</p>
          <p class="working-days">Saturday – Sunday</p>
          <p class="opening-hours">08:00 AM - 16:00 PM</p>
          <ul class="contact-info">
            <li class="item">
              <a class="item" href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="item">
              <a class="item" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="schedule item">
        <div class="schedule-text">
          <h4 class="selling-place">CAFE</h4>
          <p class="schedule-city">New York</p>
          <p class="schedule-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <p class="working-days">Monday – Friday</p>
          <p class="opening-hours padding">06:00 AM - 10:00 PM</p>
          <p class="working-days">Saturday – Sunday</p>
          <p class="opening-hours">08:00 AM - 16:00 PM</p>
          <ul class="contact-info">
            <li class="item">
              <a class="item" href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="item">
              <a class="item" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="schedule-buttons">
      <li class="button item">
        <a aria-label="Our Locations" href="#"
          >Our Locations
          <svg class="schedule-arrow">
            <use href="./images/symbol-defs.svg#icon-button"></use>
          </svg>
        </a>
      </li>
      <li class="button item">
        <a aria-label="Franchise" href="#"
          >Franchise
          <svg class="schedule-arrow">
            <use href="./images/symbol-defs.svg#icon-button"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
