.gallery {
  .container {
    position: relative;
    padding-bottom: 86px;
  }
}

.for-gallery {
  position: relative;
  width: 280px;
  height: 122px;
  margin-bottom: 32px;
}

.icecream-gallery {
  position: absolute;
  left: -19px;
  right: -20px;
  top: -48px;
}

.commentator-picture {
  margin: 0 auto;
}

.for-comments {
  position: relative;
  margin-top: 29px;
  padding: 43px 66px 26px 57px;
  background-color: $comment-bcg-color;
  z-index: 0;

  .comment {
    margin: 0;
    @include font-data(12px, $primery-text-color, 500, 2.59);
    font-family: $font-DM-Sans;
    text-align: center;

    background: repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 30px,
      $border 30px,
      $border 31px
    );
  }

  .quotes {
    position: absolute;
    top: 28px;
    left: 61px;
    width: 54px;
    height: 40px;
    z-index: -1;
    fill: $border;
  }
}

.ellipses {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 18px;
  width: 32px;
  height: 4px;

  .ellipse {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #c7133e;
    border-radius: 50%;
  }
}

.commentator {
  margin: 0;
  @include font-data(14px, $primery-text-color, 500, 1.86);
  text-align: center;
}

.slide-menu {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0;
  width: 73px;
  height: 12px;

  .comments-item {
    width: 12px;
    height: 100%;
    fill: #d31342;
  }

  .ellipse {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d9d9d9;
  }
}

.comments-area {
  outline: none;
}

.slick-dots {
  position: static;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  height: 12px;
}

.slick-dots li {
  display: block;
  margin: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;

  &:not(:last-child) {
    margin-right: 18px;
  }

  &:first-child {
    background-color: transparent;
    button::before {
      background-image: url('../images/icon-home.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &.slick-active {
      background-color: transparent;
      button::before {
        background-image: url('../images/icon-home-active.svg');
      }
    }
  }

  &.slick-active {
    background-color: #d31342;

    button::before {
      opacity: 1;
    }
  }

  button::before {
    opacity: 1;
    content: '';
    width: 100%;
    height: 100%;
  }
}
