.header {
  width: 100%;
  z-index: 5;

  background-color: $hero-bcg-color;

  @media screen and (max-width: $max-mobile) {
    position: fixed;
    top: 0;
  }
}

.main-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: $font-Titan-One;
  text-transform: uppercase;
  @include font-data(25px, $primary-title-color, 400, 1.15, 0.01em);
}

.logo-img {
  margin-right: 18px;
}

.header-mobile-menu {
  margin-left: auto;
  padding: 5px;
  border: none;
  background-color: inherit;
  color: $primary-title-color;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu-container {
  position: absolute;
  top: 0;
  right: 0;

  width: 250px;
  text-align: left;

  background-color: #e17992;

  transform: translateX(100%);
  transition: transform 250ms $timing-function;

  &.is-open {
    display: block;

    transform: translateX(0);
  }

  @media screen and (max-width: $max-mobile) {
    height: 100vh;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    display: none;
    position: absolute;
    top: 0;
    left: 30%;
    transform: translateX(-30%);
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    background: none;
    width: 100%;
    flex-direction: row-reverse;
  }
}

.menu-close {
  position: absolute;
  top: 18px;
  right: 23px;
  fill: $white-color;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.button-buy {
  display: flex;
  margin: 60px auto 19px auto;

  @include button(12px, 49px, $white-color, $primary-title-color);
  @include font-data(16px, $primary-title-color, 500, 1.31);

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.header-button-icon {
  margin-left: 26px;

  fill: currentColor;
}

.navigation {
  display: flex;
  flex-direction: column;

  .item {
    padding: 13px 21px;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }

  .link {
    font-family: $font-DM-Sans;
    @include font-data(14px, $white-color, 700, 1.31, 0.01em);
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $primary-title-color;
    }
  }
}

// ПИЗДЕЦ

//*для мобилки*//
@media screen and (max-width: $max-mobile) {
  .main-header {
    display: flex;
  }
}

@media screen and (min-width: $desktop) {
  .main-header,
  .menu-container {
    display: flex;
  }
}

@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  .contacts .item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contacts {
    margin-left: auto;
  }

  .menu-container {
    align-items: center;
  }
}

@media screen and (min-width: $desktop) {
  .contacts {
    display: flex;
    margin-left: auto;
  }

  .contacts .telefon {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts .item + .item {
    margin-left: 30px;
  }
}

@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  .button-buy.additional-button {
    margin: 0;
  }
}

.contacts-icon,
.icon {
  fill: currentColor;
}

.header-menu-button {
  fill: currentColor;
}

.button-buy.additional-button {
  @media screen and (max-width: $max-mobile) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    margin: 0;
    padding: 0;

    @include button(10px, 37px, $white-color, $primary-title-color);
    margin-left: auto;
  }
}
@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  .menu-container {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  .header-mobile-menu:focus + .button-buy.additional-button {
    display: none;
  }
}
